@keyframes kurtyna{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

  

#napis
{
    
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 200px;
    padding-left: 25%;
    animation: kurtyna 4s ease-in-out forwards;
    
}
h2
{
    font-family: 'Lobster', cursive;
}

#main_foto h2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    font-size: 6em;
    
    
}
#main_foto h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 0.6px #03a9fa;

}
#main_foto h2:nth-child(2){
    color: #03a9fa;
    animation: wave 3s ease-in-out infinite;    
}
@keyframes wave{
    0%,100%{
        clip-path: polygon(0% 40%, 15% 45%, 55% 60%, 70% 60%, 
        85% 60%,100% 50%,100% 100%,0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%,15% 65%,55% 60%, 65% 50%, 85% 45%, 100% 50%, 100% 100%,0% 100%);
    }
}